<% if @term %>
  <% if term_found %>
    <h2 class="content-subhead">Results for '<%= @term %>'</h2>
    <ul>
      <% @contents.each_with_index do |chapter, index| %>
        <% if found_term_at(index) %>
          <li class="pure-menu-item">
            <a href="/chapters/<%= index+1 %>" class="pure-menu-link"><%= chapter %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>Sorry, no matches were found.</p>
  <% end %>
<% end %>